body{
    margin-left: auto;
    margin-right: auto;
    width: 1600px; 
 }

header,
main,
footer{
    overflow-x: hidden;
}

ul {
    padding-left: 0;
  }

  li {
    list-style-type: none;
  }

  .line{
    border-bottom: 1px solid;
  }

  .big{
    text-align: center;

  }

 
    
/*Header*/

.launch{
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
}

.launch_one{
  color: black;
  text-decoration: none;
}

.onset,.onset_one,.onset_two,.onset_thre{
float: left;
margin-top: 30px;
margin-bottom: 30px;
position: relative;
}



.first_part,.second_part,.third_part,.fifth_part,.thirdes_part{
  margin-left: 260px;
  text-decoration: none;
  color: black;
  font-size: large;
  

}

.first_part::after{
  content: '';
  position: absolute;
  margin-bottom: -5px;
  border-radius: 20%;
  height: 4px;
  background-color: #2926ff;
  width: 0;
  left: 93%;
  bottom: 0;
  transform: translateX(-50%);
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.first_part:hover { color: #4355fc; }
.first_part:hover::after { width: 40px; }

.second_part::after{
  content: '';
  position: absolute;
  margin-bottom: -5px;
  border-radius: 20%;
  height: 4px;
  background-color: #2926ff;
  width: 0;
  left: 92%;
  bottom: 0;
  transform: translateX(-50%);
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}
.second_part:hover { color: #4355fc; }
.second_part:hover::after { width: 68px; }



.thirdes_part::after{
  content: '';
  position: absolute;
  margin-bottom: -5px;
  border-radius: 20%;
  height: 4px;
  background-color: #2926ff;
  width: 0;
  left: 93%;
  bottom: 0;
  transform: translateX(-50%);
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.thirdes_part:hover { color: #4355fc; }
.thirdes_part:hover::after { width: 50px; }

.fifth_part::after{
  content: '';
  position: absolute;
  margin-bottom: -5px;
  border-radius: 20%;
  height: 4px;
  background-color: #2926ff;
  width: 0;
  left: 84%;
  bottom: 0;
  transform: translateX(-50%);
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.fifth_part:hover { color: #4355fc; }
.fifth_part:hover::after { width: 110px; }


.fifth_part{
  
  margin-left: 230px;
  text-decoration: none;
  color: black;
  font-size: large;
}


/*Koniec header*/



/*Latwosc*/
.streak{
  position: relative;
}

.easy{
  color: rgb(34, 4, 143);
  font-size: 48px;
}

.strip{
  background-color: #090799de;
  width:600px;
  height: 3px;
  margin-left: 0px;
  margin-bottom: 50px;
}

.strip_one{
  position: absolute;
  top: 145px;
  left: 25px;
  background-color: #090799de;
  width:3px;
  height: 100px;
  margin-left: 0px;
  margin-bottom: 50px;
}

.aesily{
  font-size: 20px;
   font-family: Noto Sans, sans-serif;
  margin-bottom: 70px;
  margin-left: 50px;
}

.simply{
  font-size: 20px;
  margin-bottom: 10px;
  font-family: Noto Sans, sans-serif;
}

.strip_two{
  background-color: #090799de;
  width:400px;
  height: 3px;
  margin-left: 800px;
  margin-bottom: 40px;
}

.readli{
  font-size: 20px;
  margin-bottom: 20px;
  font-family: Noto Sans, sans-serif;
}

.mild_one{
  font-size: 20px;
  margin-left: 30px;
 
}

.mild_two{
  font-size: 20px;
  margin-bottom: 20px;
  font-family: Noto Sans, sans-serif;  
}


.part{
background-color: #090799de;
  width:400px;
  height: 3px;
  margin-left: 100px;
  margin-bottom: 40px;
}


  .share{
  color: rgb(34, 4, 143);
  font-size: 48px;
  }

  .share_one{
    font-size: 20px;
    margin-bottom: 10px;
    font-family: Noto Sans, sans-serif;
  }


/*RBH*/


.stria{
  background-color: #090799de;
  width:400px;
  height: 3px;
  margin-left: 0px;
  margin-top: 20px;
  margin-bottom: -120px;
}

.bar{
  position: relative;
  top: 340px;
  left:0;
  background-color: #090799de;
  width:5px;
  height: 150px;
  margin-left: 0px;
  margin-bottom: 40px;
}

  .whole{
    color: rgb(34, 4, 143);
    font-size: 48px;
  }

  .whole_one{
    color: rgb(34, 4, 143);
    font-size: 30px;
  }

  .whole_two{
    font-size: 20px;
    margin-left: 30px;
    font-family: Noto Sans, sans-serif;
  }





  /*Przyklad*/

  .total{
    color: rgb(34, 4, 143);
    font-size: 48px; 
  }



.midst{
  position:relative;
}

.paument{
  font-size: 20px;
  margin-left: 30px;
  font-family: Noto Sans, sans-serif; 
  margin-bottom: 5px;
}

.payoff{
  font-size: 20px;
  margin-left: 30px;
  font-family: Noto Sans, sans-serif; 
  margin-bottom: 5px;
}

.total_big{
position:absolute ;
top: 1820px;
left:1250px;
background-color: #a818a859;
width: 100px;
height: 100px;
border-radius: 50%;
  }

  .move{
    padding-top: 13px;
    text-align: center;
    font-family: Noto Sans, sans-serif;
    font-size: 30px; 
  }

  .row_linkcol{
    position: absolute;
    top:1810px;
    left:1120px;
    fill: rgb(34, 4, 143);
  }



.minor{
  position: absolute;
    top:1950px;
    left:1255px;
    fill: rgb(34, 4, 143);
}


  .corner{
position:absolute ;
top: 1800px;
left:970px;
background-color: #dddde0;
width: 120px;
height: 120px;
border-radius: 50%;
  }

  .corner:hover,
  .collaterial:hover,
  .subsidiary:hover,
  .piece:hover
  {
    background-color: #09079975;
  }

  .corner_one{
    padding-top: 14px;
    text-align: center;
    font-family: Noto Sans, sans-serif;
    font-size: 18px;  
  }

  .collaterial{
    position:absolute ;
    top: 2070px;
    left:1250px;
    background-color: #dddde0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }


  .collaterial_one{
    position: absolute;
    top:1815px;
    left:1380px;
    fill: rgb(34, 4, 143);
  }

  .collaterial_text{
    padding-top: 14px;
    text-align: center;
    font-family: Noto Sans, sans-serif;
    font-size: 18px; 
  }

  .subsidiary{
    position:absolute ;
    top: 1800px;
    left:1500px;
    background-color: #dddde0;
    width: 120px;
    height: 120px;
    border-radius: 50%; 
  }

  .subsidiary_text{
    padding-top: 14px;
    text-align: center;
    font-family: Noto Sans, sans-serif;
    font-size: 18px; 
  }

  .incidental{
    position: absolute;
    top: 1695px;px;
    left:1250px;
    fill: rgb(34, 4, 143);
  }

  .piece{
    position:absolute ;
    top: 1550px;
    left:1237px;
    background-color: #dddde0;
    width: 120px;
    height: 120px;
    border-radius: 50%; 
  }

  .piece_one{
    padding-top: 10px;
    text-align: center;
    font-family: Noto Sans, sans-serif;
    font-size: 18px; 
  }


  /*rekrytacja*/

.half{
  color: rgb(34, 4, 143);
  font-size: 48px;
}




  /*Sczegoly*/

  /*Futer*/