body{
    margin-left: auto;
    margin-right: auto;
    width: 1600px; 
 }

header,
main,
footer{
    overflow-x: hidden;
}

ul {
    padding-left: 0;
  }

  li {
    list-style-type: none;
  }

  .line{
    border-bottom: 1px solid;
  }

  .big{
    text-align: center;

  }

 
    
.img-overlay{
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.mn{
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
}



.a,.e,.d,.g{
  float: left;
margin-top: 30px;
margin-bottom: 30px;
position: relative;
}



.first_part,.second_part,.third_part,.fifth_part,.thirdes_part{
  margin-left: 260px;
  text-decoration: none;
  color: black;
  font-size: large;
  

}

.first_part::after{
  content: '';
  position: absolute;
  margin-bottom: -5px;
  border-radius: 20%;
  height: 4px;
  background-color: #2926ff;
  width: 0;
  left: 93%;
  bottom: 0;
  transform: translateX(-50%);
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.first_part:hover { color: #4355fc; }
.first_part:hover::after { width: 40px; }

.second_part::after{
  content: '';
  position: absolute;
  margin-bottom: -5px;
  border-radius: 20%;
  height: 4px;
  background-color: #2926ff;
  width: 0;
  left: 92%;
  bottom: 0;
  transform: translateX(-50%);
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}
.second_part:hover { color: #4355fc; }
.second_part:hover::after { width: 68px; }



.thirdes_part::after{
  content: '';
  position: absolute;
  margin-bottom: -5px;
  border-radius: 20%;
  height: 4px;
  background-color: #2926ff;
  width: 0;
  left: 93%;
  bottom: 0;
  transform: translateX(-50%);
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.thirdes_part:hover { color: #4355fc; }
.thirdes_part:hover::after { width: 50px; }

.fifth_part::after{
  content: '';
  position: absolute;
  margin-bottom: -5px;
  border-radius: 20%;
  height: 4px;
  background-color: #2926ff;
  width: 0;
  left: 84%;
  bottom: 0;
  transform: translateX(-50%);
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.fifth_part:hover { color: #4355fc; }
.fifth_part:hover::after { width: 110px; }


.fifth_part{
  
  margin-left: 230px;
  text-decoration: none;
  color: black;
  font-size: large;
}

.streak{
  position: relative;
}

.easy{
  color: rgb(34, 4, 143);
  font-size: 48px;
}

.strip{
  background-color: #090799de;
  width:600px;
  height: 3px;
  margin-left: 0px;
  margin-bottom: 50px;
}

.strip_one{
  position: absolute;
  top: 145px;
  left: 25px;
  background-color: #090799de;
  width:3px;
  height: 100px;
  margin-left: 0px;
  margin-bottom: 50px;
}

.aesily{
  font-size: 20px;
   font-family: Noto Sans, sans-serif;
  margin-bottom: 70px;
  margin-left: 50px;
}

.simply{
  font-size: 20px;
  margin-bottom: 10px;
  font-family: Noto Sans, sans-serif;
}

.strip_two{
  background-color: #090799de;
  width:400px;
  height: 3px;
  margin-left: 800px;
  margin-bottom: 40px;
}

.readli{
  font-size: 20px;
  margin-bottom: 20px;
  font-family: Noto Sans, sans-serif;
}

.mild_one{
  font-size: 20px;
  margin-left: 30px;
 
}

.mild_two{
  font-size: 20px;
  margin-bottom: 20px;
  font-family: Noto Sans, sans-serif;  
}


.part{
background-color: #090799de;
  width:400px;
  height: 3px;
  margin-left: 100px;
  margin-bottom: 40px;
}


  .share{
  color: rgb(34, 4, 143);
  font-size: 48px;
  }

  .share_one{
    font-size: 20px;
    margin-bottom: 10px;
    font-family: Noto Sans, sans-serif;
  }

  .whole{
    color: rgb(34, 4, 143);
    font-size: 48px;
  }

  .whole_one{
    color: rgb(34, 4, 143);
    font-size: 30px;
  }

  .whole_two{
    font-size: 20px;
    margin-left: 30px;
    font-family: Noto Sans, sans-serif;
  }

  .total{
    color: rgb(34, 4, 143);
    font-size: 48px; 
  }






.n{
  position:relative;
}






.total_big{
position:absolute ;
top: 1700px;
left:1100px;
background-color: #4355fc;
width: 150px;
height: 150px;
border-radius: 50%;
  }

  .j{
    padding-top: 17px;
    text-align: center;
    font-family: Noto Sans, sans-serif;
    font-size: 45px; 
  }